<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://triptestapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>triptestapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TripTestApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TripTestApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TripContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:triptestappdbserver.database.windows.net,1433;Initial Catalog=TripTestApp_db;User ID=triptestadmin@triptestappdbserver;Password=Fuck0off" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TripTest.Dal.TripContext, TripTest.Dal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>false</EnableADPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TripContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:triptestappdbserver.database.windows.net,1433;Initial Catalog=TripTestApp_db;User ID=triptestadmin@triptestappdbserver;Password=Fuck0off</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>